// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: multi;


@import "ionic.globals";


$colors: (
  primary:    #de8300,
  secondary:  #383737,
  danger:     #990000,
  success:    #50b848,
  offline:    #ff1213,
  skyBlue:    #00a2e7,
  light:      #fff,
  dark:       #000,
  gray:       #858585,
  backGray:   #f3f3f3,
  facebook:   #58689d,
  instagram:  #e6516d
);


$content-padding:8px;
$content-margin:$content-padding;
$control-height:50px;    
$control-radius:8px;
$grid-padding-width:$content-padding ;
$toolbar-ios-height:56px;
$button_in_header_size:50px;
// sidemenu  
$menu-width:300px;
$menu-small-width:$menu-width;
// fonts  Variables 
$h4_font_size:1.4rem;
$h5_font_size:1.3rem;
$p_font_size:1.2rem;  
$h4_font_weight:bold;  
$h5_font_weight:500;
$p_font_weight:400;  


@font-face {
  font-family: arFont;
  src: url($font-path + '/GE_SS_Text_Light.otf');
  font-weight:400;
}

@font-face {
  font-family: arFont;
  src: url($font-path + '/GE_SS_Two_Medium.otf');
  font-weight:500;
}
ion-app{
  @include rtl(){
    font-family:arFont , sans-serif !important; 
    font-weight:400;
  }
 
}

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
